
<div style="height: 750; margin-bottom:50px ; background-color: #fa6342e8; position: sticky; top: 0;">
  <div class="friend-box" style="height:600px ;margin-top: 50px;">
    <div class="frnd-meta">
      <img alt="" src="./assets/sar/images/resources/frnd-figure3.jpg">
      <div class="frnd-name">
        <a title="" href="#">Jack Carter</a>
        <span>@jack5000</span>
      </div>
      <a class="main-btn2" style="margin-left: 110px;margin-top: 26px;" href="#" title="">Edit Profile</a>
    </div>
    <ul class="menu-list">
      <li><a href="#" title="" data-ripple=""><i style="padding:10px ;" class="fa fa-home"></i>Home</a></li>
      <li><a href="#" title="" data-ripple=""><i style="padding:10px ;" class="fa fa fa-check-circle-o"></i>Match Mark</a></li>
      <li><a href="#" title="" data-ripple=""><i style="padding:10px ;" class="fa fa-history"></i>History</a></li>
      <li><a href="#" title="" data-ripple=""><i style="padding:10px ;" class="fa fa-certificate"></i>My Dates</a></li>
      <li><a href="#" title="" data-ripple=""><i style="padding:10px ;" class="fa fa-fire"></i>Case Studies</a></li>
      <li><a href="#" title="" data-ripple=""><i style="padding:10px ;" class="fa fa-sun-o"></i>Privacy &amp; Policy</a></li>
      <li><a href="#" title="" data-ripple=""><i style="padding:10px ;" class="fa fa-question-circle"></i>Help</a></li>
    </ul>
  </div>
  </div>