<div id="carouselExampleIndicators" #mycarouselControls class="carousel slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner">
        <ul *ngFor="let obj of home.testimonial;let i=index; first as isFirst">
            <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' ">
                <!-- <li>
                    <div class="testi-silver" >	
                    <span><img *ngIf="obj.is_accepted" src="./../../assets/{{obj.imagePath}}"></span>
                    <div *ngIf="obj.is_accepted" class="testi-meta">
                        <p>
                            {{obj.content}}					
                        </p>
                        <span *ngIf="obj.is_accepted"><i class="fa fa-thumbs-o-up"></i>{{obj.user}}</span>
                    </div>
            </div></li> -->

            <img class="d-block w-100" src="./assets/sar/images/resources/text-caro-2.jpg" alt="">

            </div>                                     
        </ul>

    </div>
  </div>


  
  <!-- <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions"  *ngFor="let item of home.testimonial;let index = index" [attr.data-slide-to]="index"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of home.testimonial;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
        <img [src]="item.url" class="d-block w-100" [alt]="item.title">
        <div class="carousel-caption d-none d-md-block">
          <h5 > {{item.content}}	</h5>
          <p>{{item.content}}	</p>
          <span><img *ngIf="item.is_accepted" src="./../../assets/{{item.imagePath}}"></span>

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->