
<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">S</span>
      <span style="--i:2;">A</span>
      <span style="--i:3;">R</span>
      <span style="--i:4;">A</span>
      <span style="--i:5;">H</span>
      <span style="--i:6;">A</span>
      <span style="--i:7;">.</span>
      <span style="--i:8;">.</span>
      <span style="--i:9;">.</span>
    </div>
  </div>
<app-header></app-header>


<div class="theme-layout">

    <section >
        <div class="gap gray-bg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="row merged20" id="page-contents">
                    <!-- <div class="col-lg-12" style="margin-top:25px ;">
                        <div class="info-section">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="stat-box">
                                        <i class="fa fa-users"></i>
                                        <div class="anlytc-meta">
                                            <h4>5412</h4>
                                            <p>70%</p>
                                            <span>Total Visitors</span> 
                                        </div>
                                        <div class="progress" style="height:6px">
                                            <div class="progress-bar" style="width:70%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="stat-box">
                                        <i class="fa fa-sign-in"></i>
                                        <div class="anlytc-meta">
                                            <h4>4515</h4>
                                            <p>50%</p>
                                            <span>New Signups </span> 
                                        </div>
                                        <div class="progress" style="height:6px">
                                            <div class="progress-bar bg-info" style="width:50%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="stat-box">
                                        <i class="fa fa-envelope"></i>
                                        <div class="anlytc-meta">
                                            <h4>8289</h4>
                                            <p>40%</p>
                                            <span>Email Enquiries </span> 
                                        </div>
                                        <div class="progress" style="height:6px">
                                            <div class="progress-bar bg-valvot" style="width:60%"></div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            
                    <div class="row">
                      <div class="col-lg-3">
                          <app-asiderbar></app-asiderbar>
                            </div><!-- sidebar widgets -->
                          
                  <div class="central-meta col-lg-9">
                    <div class="title-block">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="align-left">
                                    <h5 style="font-size: large;">Manage Tetimonials <span style="color:white; background-color: #fa6342e8" >99</span></h5>
                                <hr style="width: 600px;color:#fa6342e8 ; border-style: dotted;"/>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                    <div class="event-invites">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="invite-figure">
                                    <figure><img src="./assets/sar/images/resources/friend-avatar2.jpg" alt=""></figure>
                                    <h6><a class="invitor" href="#" title=""></a><br><a href="#" title="">Waed</a></h6>
                                    <p style="margin-left:80px ;">
                                       Amazing website, Keep Going ❤️  
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-12">
                            
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="invites-btns">
                                    <a class="main-btn" href="#" title="" data-ripple="">Accept</a>
                                    <a class="main-btn3" href="#" title="" data-ripple="">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-invites">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="invite-figure">
                                    <figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>
                                    <h6><a class="invitor" href="#" title="">Andrew</a> invited you to an event <a href="#" title="">Mother's day</a></h6>
                                    <p>
                                        Hi, we should to get together on mother day, so join gathering and enjoy the day of mothers!
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-12">
                                <div class="invite-location">
                                    <i class="ti-location-pin"></i>
                                    <span>Hayat Residency</span>
                                    <span class="datentime">1:30PM September 02, 2020</span>
                                    <div class="users-thumb-list">
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
                                            <img alt="" src="images/resources/userlist-4.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="frank">
                                            <img alt="" src="images/resources/userlist-2.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
                                            <img alt="" src="images/resources/userlist-3.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
                                            <img alt="" src="images/resources/userlist-5.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
                                            <img alt="" src="images/resources/userlist-1.jpg"> 
                                        </a>
                                        <span class="more-friendz">14+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="invites-btns">
                                    <a class="main-btn" href="#" title="" data-ripple="">Accept</a>
                                    <a class="main-btn3" href="#" title="" data-ripple="">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-invites">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="invite-figure">
                                    <figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>
                                    <h6><a class="invitor" href="#" title="">Sarah William</a> invited you to an event <a href="#" title="">Mother's day</a></h6>
                                    <p>
                                        Hi, we should to get together on mother day, so join gathering and enjoy the day of mothers. hope you will enjoy!
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-12">
                                <div class="invite-location">
                                    <i class="ti-location-pin"></i>
                                    <span>Ramada Washington</span>
                                    <span class="datentime">12:30PM March 02, 2021</span>
                                    <div class="users-thumb-list">
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
                                            <img alt="" src="images/resources/userlist-5.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="frank">
                                            <img alt="" src="images/resources/userlist-1.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
                                            <img alt="" src="images/resources/userlist-2.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
                                            <img alt="" src="images/resources/userlist-4.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
                                            <img alt="" src="images/resources/userlist-3.jpg"> 
                                        </a>
                                        <span class="more-friendz">14+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="invites-btns">
                                    <a class="main-btn" href="#" title="" data-ripple="">Accept</a>
                                    <a class="main-btn3" href="#" title="" data-ripple="">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-invites">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="invite-figure">
                                    <figure><img src="images/resources/friend-avatar5.jpg" alt=""></figure>
                                    <h6><a class="invitor" href="#" title="">George</a> invited you to an event <a href="#" title="">Mother's day</a></h6>
                                    <p>
                                        Hi, we should to get together on Valentine day, so join gathering and enjoy the day of love.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-12">
                                <div class="invite-location">
                                    <i class="ti-location-pin"></i>
                                    <span>KFC Tornoto</span>
                                    <span class="datentime">12:30PM August 02, 2020</span>
                                    <div class="users-thumb-list">
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Anderw">
                                            <img alt="" src="images/resources/userlist-2.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="frank">
                                            <img alt="" src="images/resources/userlist-4.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Sara">
                                            <img alt="" src="images/resources/userlist-1.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Amy">
                                            <img alt="" src="images/resources/userlist-2.jpg">  
                                        </a>
                                        <a data-toggle="tooltip" title="" href="#" data-original-title="Ema">
                                            <img alt="" src="images/resources/userlist-5.jpg"> 
                                        </a>
                                        <span class="more-friendz">14+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                <div class="invites-btns">
                                    <a class="main-btn" href="#" title="" data-ripple="">Accept</a>
                                    <a class="main-btn3" href="#" title="" data-ripple="">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
         </div>
                </div>
            </div>
      </div>
    </div>
</section>








