<app-nav-bar></app-nav-bar>
<app-active-bar></app-active-bar>

<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="user-profile">
                            <figure>
                                <div class="edit-pp">
                                    <label class="fileContainer">
                                        <i class="fa fa-camera"></i>
                                        <input type="file">
                                    </label>
                                </div>
                                <img src="../../../assets/user/images/resources/fav-banner.jpg" alt="">
                                <ul class="profile-controls">
                                    <li><a class="send-mesg" (click)="openSendMessageDailog()" title="Send Message" data-toggle="tooltip"><i
                                                class="fa fa-comment"></i></a></li>

                                </ul>
                                <!-- <ol class="pit-rate">
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class="rated"><i class="fa fa-star"></i></li>
                                    <li class=""><i class="fa fa-star"></i></li>
                                    <li><span>4.7/5</span></li>
                                </ol> -->
                            </figure>

                            <div class="profile-section">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="profile-author">
                                            <a class="profile-author-thumb" href="about.html">
                                                <img alt="author"
                                                    src="../../../assets/{{this.viewService.user.imagepath}}">
                                                <div class="edit-dp">
                                                    <label class="fileContainer">
                                                        <i class="fa fa-camera"></i>
                                                        <input type="file">
                                                    </label>
                                                </div>
                                            </a>
                                            <div class="author-content">
                                                <a class="h4 author-name" href="#">{{this.viewService.user.username}}</a>
                                                <div class="country">{{this.viewService.user.country}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <ul class="profile-menu">
                                            <li>
                                            </li>



                                        </ul>
                                        <ol class="folw-detail">
                                          
                                            <li><span>Posts</span><ins>{{post.postcountById}}</ins></li>
                                            <li><span>Messages</span><ins>{{messageService.messcount}}</ins></li>
                                            <li><span>Likes</span><ins>{{post.likecount}}</ins></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div><!-- user profile banner  -->
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">User Badges <a class="see-all" href="#" title="">See
                                            All</a></h4>
                                    <ul class="badgez-widget">
                                        <li>
                                            <a href="#" title="Male User" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/badge2.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#" title="10 Years old User" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/year10.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Page Admin" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/badge1.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#" title="100+ Refferal" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/badge8.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Tranding Posts" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/badge21.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#" title="1000+ Subscribers" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/badge3.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#" title="Pitnik Shirt winner" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/badge20.png" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#" title="500+ Followers" data-toggle="tooltip"><img
                                                    src="../../../assets/user/images/badges/badge10.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget">
                                    <h4 class="widget-title">Page Community</h4>
                                    <ul class="fav-community">
                                        <li>
                                            <div class="personal-head">
                                                <span class="f-title"><i class="fa fa-user"></i> About :<span
                                                        style="color:rgb(156, 151, 146);font-size: 10;"> Hi, I’m
                                                        {{this.viewService.user.username}}, I’m from
                                                        {{this.viewService.user.country}} </span></span>
                                                <span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:
                                                    <span style="color:rgb(156, 151, 146);font-size: 10;">
                                                        {{this.viewService.user.birthdate |date}}</span></span>

                                                <span class="f-title"><i class="fa fa-phone"></i> Phone Number:<span
                                                        style="color:rgb(156, 151, 146);font-size: 10;">
                                                        {{this.viewService.user.phonenumber}}</span></span>

                                                <span class="f-title"><i class="fa fa-male"></i> Gender:<span
                                                        style="color:rgb(156, 151, 146);font-size: 10;">
                                                        {{this.viewService.user.gender}}</span></span>

                                                <span class="f-title"><i class="fa fa-globe"></i> Country:<span
                                                        style="color:rgb(156, 151, 146);font-size: 10;">
                                                        {{this.viewService.user.country}}</span></span>
                                                <span class="f-title"><i class="fa fa-envelope"></i> Email &amp;
                                                    Website:<span style="color:rgb(156, 151, 146);font-size: 10;">
                                                        {{this.viewService.user.email}}</span></span>


                                            </div>
                                        </li>
                                        <li><i class="fa fa-thumbs-up"></i>13,33,454 People like this</li>
                                        <li><i class="fa fa-rss"></i>13,33,454 People send message to him</li>
                                        <li><i class="fa fa-share-alt"></i>13,540 Post share </li>
                                    </ul>
                                </div><!-- Page Community-->


                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">

                          
                            <div style="margin-top:50px"   class="">
                                <!--Pinned Posts-->
                                <div *ngFor="let post of this.viewService.Userposts" >
                                    <div class ="">
                                <div class=" central-meta item" *ngIf="post.is_Pin">
                                    <div class="friend-info">
                                        <figure>
                                            <img    src="../../../assets/{{post.autherImage}}" style="object-fit:cover ; width:120px; height: 40px;" alt="">
                                        </figure>
                                        <div class="friend-name">
                                            <div class="more">
                                                <!-- <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                    <ul>
                                                        <li (click)="updateDailog(post)"><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                                        <li  (click)="deletePost(post.postId)"><i class="fa fa-trash-o"></i>Delete Post</li>                                                    
                                                        <li (click)="PinPost(post.postId,0)"><i class="fa fa-wpexplorer"></i>UnPin Post</li>
                                                        <li><i class="fa fa-bell-slash-o"></i>Turn off Notifications</li>
                                                    </ul>
                                                </div> -->
                                            </div>
                                            <ins><a title=""> {{this.viewService.user.username}}</a>  <a style="margin-left:200px ;" class="fa fa-thumb-tack" aria-hidden="true"> Pinned</a>
                                            </ins>
                                            <span><i class="fa fa-globe"></i> published: {{post.postDate | date}}</span>
                                        </div>
                                        <div class="post-meta">
                                            <div class="post-map">
                                                <div class="nearby-map">
                                                    <figure>
                                                        <img src="./../../assets/Images/{{post.postImage}}" alt="">
                                                    </figure>
                                                </div>
                                                <ul class="like-dislike">
                                                    <li (click)="CreateLike(post.postId)"><a class="bg-blue" title="Like Post"><i class="ti-thumb-up"></i></a></li>
                                                    <li><a style="align-items:center ;align-content: center;" class="bg-red"title="Love Post"><i style="margin-top:3px ;height: 2px;" class="ti-heart"></i></a></li>
                                                </ul>
                                            </div><!-- near by map -->

                                            <div class="description">
                                                <p>
                                                    {{post.postText}} 
                                                </p>
                                            </div>

                                            <div class="we-video-info">
                                                <ul>
                                                    <li (click)="CreateLike(post.postId)" style="margin-right: 13px;">
                                                        <span class="views" title="views">                            
                                                            <i class="fa fa-thumbs-up"></i>
                                                            <ins> {{post.likes}} </ins>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <div class="likes heart" title="Loves">❤ <span>{{post.likes}}</span></div>
                                                    </li>
                                                    <li>
                                                        <span class="comment" title="Comments">
                                                            <a (click)="changePostId(post.postId)" type="button" class="" data-toggle="modal" data-target="#Comments">
                                                                <i data-target="#exampleModalCenter" class="fa fa-commenting"></i>
                                                                </a>	
                                                           
                                                            <ins>{{post.comments}} </ins>
                                                        </span>
                                                    </li>

                                                 
                                                </ul>
                                                <div class="users-thumb-list" >
                                                    <!-- <a data-toggle="tooltip" title="Anderw">
                                                        <img alt="" src="../../../assets/sar/images/resources/userlist-1.jpg">  
                                                    </a>
                                                -->
                                                    <span> Liked By :<strong></strong> <b></b><a title="">+{{post.likes}} more </a> 
                                                        <a (click)="changePostId(post.postId)" type="button" class="" data-toggle="modal" data-target="#exampleModalCenter">
                                                        See All
                                                        </a>	
                                                    </span>
                                                </div>
                                            </div>
                                            
                                            <div class="coment-area" style="display: block;">
                                                <ul class="we-comet">												
                                                    <li class="post-comment">
                                                        <div class="comet-avatar">
                                                            <img src="images/resources/nearly1.jpg" alt="">
                                                        </div>
                                                        <div class="post-comt-box">
                                                            <form [formGroup]="CommentForm">
                                                                <textarea  formControlName="commenttext" placeholder="Post your comment"></textarea>
                                                                <input formControlName="userid" hidden>
                                                                <!-- <input formControlName="postid" value="{{post.postId}}" hidden> -->
                                                                <div class="add-smiles">
                                                                    <!-- <div class="uploadimage">
                                                                        <i class="fa fa-image"></i>
                                                                        <label class="fileContainer">
                                                                            <input type="file">
                                                                        </label>
                                                                    </div> -->
                                                                    <span class="em em-expressionless" title="add icon"></span>
                                                                    <!-- <div class="smiles-bunch">
                                                                        <i class="em em---1"></i>
                                                                        <i class="em em-smiley"></i>
                                                                        <i class="em em-anguished"></i>
                                                                        <i class="em em-laughing"></i>
                                                                        <i class="em em-angry"></i>
                                                                        <i class="em em-astonished"></i>
                                                                        <i class="em em-blush"></i>
                                                                        <i class="em em-disappointed"></i>
                                                                        <i class="em em-worried"></i>
                                                                        <i class="em em-kissing_heart"></i>
                                                                        <i class="em em-rage"></i>
                                                                        <i class="em em-stuck_out_tongue"></i>
                                                                    </div> -->

                                                                </div>
                                                                <a class="addnewforum" style="color: white;; cursor: pointer;" (click)="createComment(post.postId)" type="submit">submit</a>

                                                            </form>	
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="coment-area" >
                                            <ul class="we-comet">
                                                <li>
                                                    <div class="comet-avatar">
                                                        <img src="../../../assets/sar/images/resources/nearly3.jpg" alt="">
                                                    </div>
                                                    <div class="we-comment">
                                                        <h5><a href="time-line.html" title="">Jason borne</a></h5>
                                                        <p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
                                                        <div class="inline-itms">
                                                            <span>1 year ago</span>
                                                            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                                            <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
                                                        </div>
                                                    </div>

                                                </li>
                                              
                                                <li>
                                                    <a title="" class="showmore underline">more comments+</a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                          </div> 
                        
                        <br/>

     <!--************************************* Pinnn Posttt Finish ************************************************-->
     <div  *ngFor="let post of this.viewService.Userposts" >
        <div  *ngIf="!post.is_Pin" class="central-meta item" >
    
<!--Postttt-->
   
            <div class="user-post">
                <div class="friend-info">
                    <figure>
                        <img src="../../../assets/{{this.viewService.user.imagepath}}" style="object-fit:cover ; width:120px; height: 40px; " alt="">
                    </figure>
                    <div class="friend-name">
                        <div class="more">
                            <!-- <div class="more-post-optns"><i class="ti-more-alt"></i>
                                <ul>
                                    <li (click)="updateDailog(post)"><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                    <li  (click)="deletePost(post.postId)"><i class="fa fa-trash-o"></i>Delete Post</li>                                                        
                                    <li (click)="PinPost(post.postId,1)" ><i class="fa fa-wpexplorer"></i>Pin Post</li>
                                </ul>
                            </div> -->
                        </div>
                        <ins><a href="time-line.html" title=""> {{post.auther}}</a></ins>
                        <span><i class="fa fa-globe"></i> published: {{post.postDate | date :'M/d/yy, h:mm a' }}</span>
                    </div>
                    <div class="post-meta" *ngIf="post.repley !=' '">
                        <p>
                            {{post.repley}}
                        </p>
                        </div>
                    <div class="post-meta">
                        <div class="post-map">
                            <div class="nearby-map">
                                <figure>
                                    <img src="./../../assets/Images/{{post.postImage}}" alt="">
                                </figure>
                            </div>
                            <ul class="like-dislike">
                             
                                <li style="cursor:pointer ;"><a class="bg-blue" (click)="CreateLike(post.postId)"  title="Like Post"><i class="ti-thumb-up"></i></a></li>
                                <li><a style="align-items:center ;align-content: center;" class="bg-red" href="#" title="Love Post"><i style="margin-top:3px ;height: 2px;" class="ti-heart"></i></a></li>
                            </ul>
                        </div><!-- near by map -->

                        <div class="description" >
                            <p>
                                {{post.postText}} 
                            </p>
                        </div>
                        <div class="we-video-info">
                            <ul>
                                <li style="margin-right: 13px;">
                                    <span class="views" title="views">                                                               <i class="fa fa-thumbs-up"></i>
                                        <ins> {{post.likes}} </ins>
                                    </span>
                                </li>
                                <li style="margin-right: 13px;">
                                    <div class="likes heart" title="Loves">❤ <span>{{post.likes}}</span></div>
                                </li>
                                <li>
                                    <span class="comment" title="Comments">
                                        <a (click)="changePostId(post.postId)" type="button" class="" data-toggle="modal" data-target="#Comments">
                                            <i data-target="#exampleModalCenter" class="fa fa-commenting"></i>
                                            </a>	                        
                                    <ins>{{post.comments}}</ins>
                                    </span>
                                </li>

                             
                            </ul>
                            <div class="users-thumb-list" >                                              
                           
                                <span> Liked By :<strong></strong> <b></b><a title="">+{{post.likes}} more </a> 
                                    <a (click)="changePostId(post.postId)" type="button" class="" data-toggle="modal" data-target="#exampleModalCenter">
                                    See All
                                    </a>	
                                </span>
                            </div>
                        </div>
                        

                        <div class="coment-area" style="display: block;">
                            <ul class="we-comet">												
                                <li class="post-comment">
                                    <div class="comet-avatar">
                                        <img src="images/resources/nearly1.jpg" alt="">
                                    </div>
                                    <div class="post-comt-box">
                                        <form [formGroup]="CommentForm">
                                            <textarea  formControlName="commenttext" placeholder="Post your comment"></textarea>
                                            <input formControlName="userid" hidden>
                                            <!-- <input formControlName="postid" value="{{post.postId}}" hidden> -->
                                            <div class="add-smiles">
                                                <!-- <div class="uploadimage">
                                                    <i class="fa fa-image"></i>
                                                    <label class="fileContainer">
                                                        <input type="file">
                                                    </label>
                                                </div> -->
                                                <span class="em em-expressionless" title="add icon"></span>
                                                <!-- <div class="smiles-bunch">
                                                    <i class="em em---1"></i>
                                                    <i class="em em-smiley"></i>
                                                    <i class="em em-anguished"></i>
                                                    <i class="em em-laughing"></i>
                                                    <i class="em em-angry"></i>
                                                    <i class="em em-astonished"></i>
                                                    <i class="em em-blush"></i>
                                                    <i class="em em-disappointed"></i>
                                                    <i class="em em-worried"></i>
                                                    <i class="em em-kissing_heart"></i>
                                                    <i class="em em-rage"></i>
                                                    <i class="em em-stuck_out_tongue"></i>
                                                </div> -->

                                            </div>
                                            <a class="addnewforum" style="color: white;; cursor: pointer;" (click)="createComment(post.postId)" type="submit">submit</a>

                                        </form>	
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
             
                </div>
            </div>
   
        </div>
        </div>
        
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static right">
                                <!-- <div class="widget">
                                    <h4 class="widget-title">Share Page</h4>
                                    <ul class="socials">
                                        <li class="facebook">
                                            <a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span>
                                                <ins>45 likes</ins></a>
                                        </li>
                                        <li class="twitter">
                                            <a title="" href="#"><i class="fa fa-twitter"></i>
                                                <span>twitter</span><ins>25 likes</ins></a>
                                        </li>
                                        <li class="google">
                                            <a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35
                                                    likes</ins></a>
                                        </li>
                                    </ul>
                                </div> -->

                                <div class="widget">
                                    <div class="weather-widget low-opacity bluesh">
                                        <div class="bg-image"
                                            style="background-image: url(images/resources/weather.jpg)"></div>
                                        <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                                        <div class="weather-week">
                                            <div class="icon sun-shower">
                                                <div class="cloud"></div>
                                                <div class="sun">
                                                    <div class="rays"></div>
                                                </div>
                                                <div class="rain"></div>
                                            </div>
                                        </div>
                                        <div class="weather-infos">
                                            <span class="weather-tem">25</span>
                                            <h3>Cloudy Skyes<i>Sicklervilte, New Jersey</i></h3>
                                            <div class="weather-date skyblue-bg">
                                                <span>MAY<strong>21</strong></span>
                                            </div>
                                        </div>
                                        <div class="monthly-weather">
                                            <ul>
                                                <li>
                                                    <span>Sun</span>
                                                    <a href="#" title=""><i class="wi wi-day-sunny"></i></a>
                                                    <em>40°</em>
                                                </li>
                                                <li>
                                                    <span>Mon</span>
                                                    <a href="#" title=""><i class="wi wi-day-cloudy"></i></a>
                                                    <em>10°</em>
                                                </li>
                                                <li>
                                                    <span>Tue</span>
                                                    <a href="#" title=""><i class="wi wi-day-hail"></i></a>
                                                    <em>20°</em>
                                                </li>
                                                <li>
                                                    <span>Wed</span>
                                                    <a href="#" title=""><i class="wi wi-day-lightning"></i></a>
                                                    <em>34°</em>
                                                </li>
                                                <li>
                                                    <span>Thu</span>
                                                    <a href="#" title=""><i class="wi wi-day-showers"></i></a>
                                                    <em>22°</em>
                                                </li>
                                                <li>
                                                    <span>Fri</span>
                                                    <a href="#" title=""><i class="wi wi-day-windy"></i></a>
                                                    <em>26°</em>
                                                </li>
                                                <li>
                                                    <span>Sat</span>
                                                    <a href="#" title=""><i class="wi wi-day-sunny-overcast"></i></a>
                                                    <em>30°</em>
                                                </li>
                                            </ul>
                                        </div>

                                    </div><!-- Weather Widget -->
                                </div><!-- weather-->



                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- content -->

<ng-template #callSendMessageDailog>
    <form class="example-form" [formGroup]="replyForm" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Message Content</mat-label>
          <textarea rows="4" type="text" matInput formControlName="messageContent">
          </textarea>
        </mat-form-field>
        <br>        
        
        <div class="setting-row">
            <span>Send As Anonymous</span>
            <input type="checkbox" (change)="change($event)"  formControlName="is_Anon" id="switch2"/> 
            <label for="switch2"  data-off-label="OFF"></label>
        </div>      
  
          <button (click)="replyMessage()">Send Message</button>
    </form>
    
</ng-template>

<div class="modal fade" id="Comments">
    <div class="modal-dialog" style="max-width:600px ;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">Comments
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <!-- <div class="row"> -->
                 <!-- <div class="col-lg-6">
                   
                     <div class="pop-image">
                        <div class="pop-item">
                            <figure><img src="../../../assets/Images/{{this.postById.postImage}}" style="width:600px; object-fit: contain;" alt="">
                            </figure>
                        </div>
                    </div>
                    
                </div> -->
                <div class="col-lg-12"  >
                    <!-- <div class="user" *ngFor="let comment of this.post.Comments.get(this.postId)">
                        <figure><img src="../../../assets/{{comment.userImage}}" width="50" alt=""></figure>
                        <div class="user-information">
                            <h4><a title="">{{comment.auther}}</a></h4>
                            <span>{{comment.postDate | date}}</span>
                            <h3> {{comment.postText}}</h3>
                        </div> -->
                        <!-- <a href="#" title="Follow" data-ripple="">Follow</a> -->
                    <!-- </div> -->
                    <!-- <div class="we-video-info"> -->
                    <!--    <ul>
                            <li>
                                <div title="Like/Dislike" class="likes heart">❤ <span>2K</span></div>
                            </li>
                            <li>
                                <span title="Comments" class="comment">
                                    <i class="fa fa-commenting"></i>
                                    <ins>52</ins>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <a title="Share" href="#" class="">
                                        <i class="fa fa-share-alt"></i>
                                    </a>
                                    <ins>20</ins>
                                </span>	
                            </li>
                        </ul> -->
                        <!-- <div class="users-thumb-list">
                            <a href="#" title="" data-toggle="tooltip" data-original-title="Anderw">
                                <img src="images/resources/userlist-1.jpg" alt="">  
                            </a>
                            <a href="#" title="" data-toggle="tooltip" data-original-title="frank">
                                <img src="images/resources/userlist-2.jpg" alt="">  
                            </a>
                            <a href="#" title="" data-toggle="tooltip" data-original-title="Sara">
                                <img src="images/resources/userlist-3.jpg" alt="">  
                            </a>
                            <a href="#" title="" data-toggle="tooltip" data-original-title="Amy">
                                <img src="images/resources/userlist-4.jpg" alt="">  
                            </a>
                            <span><strong>You</strong>, <b>Sarah</b> and <a title="" href="#">24+ more</a> liked</span>
                        </div> -->
                    <!-- </div> -->
                    <div style="display: block;" class="coment-area" >
                        <ul class="we-comet">
                            <li *ngFor="let comment of this.post.Comments.get(this.postId)">
                                <div class="comet-avatar">
                                    <img alt="" src="../../../assets/{{comment.image}}" style="width:50px ; height: 50px; object-fit: contain;">
                                </div>
                                <div class="we-comment">
                                    <h5 style="color:#FA6342 ;"><a title="" href="time-line.html">{{comment.commentFrom}}</a></h5>
                                    <p style="margin:30px ;">   {{comment.commentText}}</p>
                                    <div class="inline-itms">
                                        <span>{{comment.commentDate| date}}</span>
                                         <a title="Reply" href="#" class="we-reply"><i class="fa fa-reply"></i></a>
                                        <a title="" href="#"><i class="fa fa-heart"></i><span>20</span></a>
                                    </div>
                                </div>
                            </li>                                               
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- </div> -->
</div>


