<div class="theme-layout">
	
	<app-navbar></app-navbar>
	<section>
		<div class="gap no-gap overlap22">
			<div >
				<div class="unit-text-caro">
					<img src="./assets/sar/images/resources/profile-image.jpg" alt="">
					<div class="text-caro-meta">
						<span>Saraha Time</span>
						<img src="./assets/sar/images/icon-21.png" alt="">
						<h1><a href="#" title="">About  <span>US</span></a></h1>
						
					</div>
				</div>
				
			</div>
		</div>
	</section><!-- banner carousel on top -->
	
	<section id="About">
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="welcome-area">
							<h2>Welcome to Saraha Time Website.</h2>
							<p>
								Saraha allowed people to text messages to others and the person reading that could then reply anonymously							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="welcome-avatar">
							<img src=".\assets\sar\images\sarahaimage4.jpg"alt="">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- welcome section -->
	<section>
		<div class="gap mb-5 ml-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="sec-heading style9 text-center">
							<span><i class="fa fa-trophy"></i> For the global growth</span>
							<h2>All in one <span>Plateform</span></h2>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="serv-box">
							<i class="fa fa-user-secret" aria-hidden="true"></i>														<h4>Anonymous Messaging</h4>
							<p>
								You can send message for anyone as anonymous							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="serv-box">
							<i class="fa fa-file-text-o" aria-hidden="true"></i>
							<h4>Share Post</h4>
							<p>You can share post about anything that you wanted</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="serv-box">
							<i class="fa fa-reply" aria-hidden="true"></i>
							<h4>Reply Message</h4>
							<p>
								You can reply for any message that you are receiving</p>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</section><!-- services sec -->
	
   <!-- footer -->
   <app-footer></app-footer>
	
	
</div>