<div class="theme-layout">
	
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="./assets/sar/images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>
		<nav id="menu" class="res-menu">
			<ul>
				<li><span>Home Pages</span> 
					<ul>
						<li><a href="index.html" title="">Pitnik Default</a></li>
						<li><a href="company-landing.html" title="">Company Landing</a></li>
				
					</ul>
				</li>
				
				
			
				<li><span>Tools</span>
					<ul>
						<li><a href="typography.html" title="">Typography</a></li>
						
					</ul>
				</li>
			</ul>
		</nav>
		
	</div><!-- responsive header -->
	
	<div class="topbar transperent stick">
		<div class="logo">
			<a title="" href="newsfeed.html"><img src="./assets/sar/images/logo.png" alt=""></a>
		</div>
		<nav>
			<ul class="nav-list">
				<li><a class="" href="#" title=""><i class="fa fa-home"></i> Home Pages</a>
					
				</li>
				<li><a class="" href="#About" title=""><i class="fa fa-repeat"></i> About us</a>
					
				</li>
				<li><a class="" href="#Contact" title=""><i class="fa fa-heart"></i>Contact Us</a>
					
				</li>
				<li><a class="" href="#Testimonial" title=""><i class="fa fa-heart"></i>Testimonial</a>
					
				</li>
				
				
				
			</ul>
			<a class="main-btn" title="" href="register.html" data-ripple="">Register Now</a>
		</nav><!-- nav menu -->
	</div><!-- topbar nav -->
	
	<section>
		<div class="gap no-gap overlap22">
			<div class="text-caro">
				<div class="unit-text-caro">
					<img src="./assets/sar/images/resources/text-caro-1.jpg" alt="">
					<div class="text-caro-meta">
						<span>Saraha Time</span>
						<img src="./assets/sar/images/icon-21.png" alt="">
						<h1><a href="#" title="">Saraha  <span>Time</span></a></h1>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore volutpat naomi delgado.
						</p>
					</div>
				</div>
				<div class="unit-text-caro">
					<img src="./assets/sar/images/resources/text-caro-2.jpg" alt="">
					<div class="text-caro-meta">
						<span>Pitnik Social Network</span>
						<img src="./assets/sar/images/icon-21.png" alt="">
						<h1><a href="#" title="">Download <span>Mobile App</span></a></h1>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore volutpat naomi delgado.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- banner carousel on top -->
	
	<section id="About">
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="welcome-area">
							<h2>Welcome to Saraha Time Website.</h2>
							<p>
								Create a website that you are gonna be proud of. Social Network, Job portal, Redit, Photography, eCommerce, video tube, pintrest classified & much more demos you like.
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="welcome-avatar">
							<img src="./assets/sar/images/sarahaimage4.jpg" alt="" height="250">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- welcome section -->

    <footer class="style2 dark">
		<div class="logo">
			<img src="./assets/sar/images/logo2.png" alt="">
		</div>
		<div class="share-article">
			<a data-ripple="" href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a>
			<a data-ripple="" href="#" title="" class="pinterest"><i class="fa fa-pinterest-p"></i></a>
			<a data-ripple="" href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a>
			<a data-ripple="" href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a>
			<a data-ripple="" href="#" title="" class="google"><i class="fa fa-google"></i></a>
		</div>
		<div class="nav-links">
			<a href="#" title="">Home</a>
			<a href="#" title="">about</a>
			<a href="#" title="">friends</a>
			<a href="#" title="">clients</a>
			<a href="#" title="">news</a>
			<a href="#" title="">contact</a>
		</div>
		<div class="copyright-content">
			<span class="">Copyright © 2022. All Rights Reserved.</span>
			<!-- <sub>Designed by <a href="#" title="">Dewwater</a></sub> -->
		</div>
	</footer><!-- footer -->
	
	
</div>