<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">S</span>
      <span style="--i:2;">A</span>
      <span style="--i:3;">R</span>
      <span style="--i:4;">A</span>
      <span style="--i:5;">H</span>
      <span style="--i:6;">A</span>
      <span style="--i:7;">.</span>
      <span style="--i:8;">.</span>
      <span style="--i:9;">.</span>
    </div>
  </div>
<app-header></app-header>


<div class="theme-layout">

<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
         <div class="row">
                    <div class="col-lg-3" style=" position: sticky; top: 0;"  >
                        <app-asiderbar></app-asiderbar>
                </div><!-- sidebar widgets -->

                <div class="col-lg-9">
                    <section>
                        <div class="gap2 gray-bg"style="padding: 0;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row merged20" id="page-contents">
                                         
                                            <div class="col-lg-12" >
                                               
                                                <div class="central-meta padding30">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                                            <div class="friend-box">
                                                                <figure>
                                                                    <img src="./assets/sar/images/resources/frnd-cover1.jpg" alt="">
                                                                    <span>Canada</span>
                                                                </figure>
                                                                <div class="frnd-meta">
                                                                    <div class="frnd-name">
                                                                        <a href="#" title="">Adam James</a>
                                                                    </div>
                                                                    <ul class="frnd-info">
                                                                        <li><span>Username:</span> username</li>
                                                                        <li><span>Email:</span> email@11</li>
                                                                        <li><span>Phone number:</span> 4455445</li>
                                                                        <li><span>Birthdate:</span> December, 2014</li>
                                                                    </ul>
                                                                    <a class="send-mesg" href="#" title="">Message</a>
                                                                    <div class="more-opotnz">
                                                                        <i class="fa fa-ellipsis-h"></i>
                                                                        <ul>
                                                                            <li><a href="#" title="">Block</a></li>
                                                                            <li><a href="#" title="">UnBlock</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                                            <div class="friend-box">
                                                                <figure>
                                                                    <img src="./assets/sar/images/resources/frnd-cover2.jpg" alt="">
                                                                    <span>Canada</span>
                                                                </figure>
                                                                <div class="frnd-meta">
                                                                    <div class="frnd-name">
                                                                        <a href="#" title="">Adam James</a>
                                                                    </div>
                                                                    <ul class="frnd-info">
                                                                        <li><span>Username:</span> username</li>
                                                                        <li><span>Email:</span> email@11</li>
                                                                        <li><span>Phone number:</span> 4455445</li>
                                                                        <li><span>Birthdate:</span> December, 2014</li>
                                                                    </ul>
                                                                    <a class="send-mesg" href="#" title="">Message</a>
                                                                    <div class="more-opotnz">
                                                                        <i class="fa fa-ellipsis-h"></i>
                                                                        <ul>
                                                                            <li><a href="#" title="">Block</a></li>
                                                                            <li><a href="#" title="">UnBlock</a></li>
                                                                           
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                                            <div class="friend-box">
                                                                <figure>
                                                                    <img src="./assets/sar/images/resources/frnd-cover3.jpg" alt="">
                                                                    <span>Canada</span>
                                                                </figure>
                                                                <div class="frnd-meta">
                                                                    <div class="frnd-name">
                                                                        <a href="#" title="">Adam James</a>
                                                                    </div>
                                                                    <ul class="frnd-info">
                                                                        <li><span>Username:</span> username</li>
                                                                        <li><span>Email:</span> email@11</li>
                                                                        <li><span>Phone number:</span> 4455445</li>
                                                                        <li><span>Birthdate:</span> December, 2014</li>
                                                                    </ul>
                                                                    <a class="send-mesg" href="#" title="">Message</a>
                                                                    <div class="more-opotnz">
                                                                        <i class="fa fa-ellipsis-h"></i>
                                                                        <ul>
                                                                            <li><a href="#" title="">Block</a></li>
                                                                            <li><a href="#" title="">UnBlock</a></li>
                                                                           
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                                            <div class="friend-box">
                                                                <figure>
                                                                    <img src="./assets/sar/images/resources/frnd-cover4.jpg" alt="">
                                                                    <span>Canada</span>
                                                                </figure>
                                                                <div class="frnd-meta">
                                                                    <div class="frnd-name">
                                                                        <a href="#" title="">Adam James</a>
                                                                    </div>
                                                                    <ul class="frnd-info">
                                                                        <li><span>Username:</span> username</li>
                                                                        <li><span>Email:</span> email@11</li>
                                                                        <li><span>Phone number:</span> 4455445</li>
                                                                        <li><span>Birthdate:</span> December, 2014</li>
                                                                    </ul>
                                                                    <a class="send-mesg" href="#" title="">Message</a>
                                                                    <div class="more-opotnz">
                                                                        <i class="fa fa-ellipsis-h"></i>
                                                                        <ul>
                                                                            <li><a href="#" title="">Block</a></li>
                                                                            <li><a href="#" title="">UnBlock</a></li>
                                                                                                                                   </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                   
                                                </div>
                                            </div>	
                                        </div>	
                                    </div>
                                </div>
                            </div>
                        </div>	
                    </section><!-- content -->
                
                </div>
                </div>

        </div>	
    </div>
</div>
</div>
</div>	
</section>


<div class="bottombar">
<div class="container">
<div class="row">
<div class="col-md-12">
<span class="copyright">© Saraha Time 2022. All rights reserved.</span>
<i><img src="./assets/sar/images/credit-cards.png" alt=""></i>
</div>
</div>
</div>
</div>
</div>