<div class="theme-layout">
	
	<!-- topbar nav -->
	<app-navbar></app-navbar>
	
	<section>
		<div class="gap no-gap overlap22">
			<div >
				<div class="unit-text-caro">
					<img src="./assets/sar/images/resources/profile-image2.jpg" alt="">
					<div class="text-caro-meta">
						<span>Saraha Time</span>
						<img src="./assets/sar/images/icon-21.png" alt="">
						<h1><a href="#" title="">Contact  <span>US</span></a></h1>
						<p>
							
						</p>
					</div>
				</div>
			
			</div>
		</div>
	</section><!-- banner carousel on top -->
	
    <section class="mt-5" id="Contact">
		<div class="news-letter-bx">
			<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="leter-meta">
						<h2>Contact Us</h2>
						<p>
							Be free to write what do you want...
						</p>
						<i><img src="./assets/sar/images/envelop.png" alt=""></i>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="leter-input">
						<form method="post">
							<input type="text" placeholder="Your Email...">
							<input type="text" placeholder="Your Message...">
							<button type="submit" class="main-btn" data-ripple="">
							     Send Message
								<i class="fa fa-paper-plane-o"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
			</div>	
		</div>
	</section><!-- subscribe sec -->
	
	<!-- footer -->
	<app-footer></app-footer>
	
	
</div>