
<app-header></app-header>




<div class="theme-layout">

<section >
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
           
        
                <div class="row">
                  <div class="col-lg-3">
                      <app-asiderbar></app-asiderbar>
              </div><!-- sidebar widgets -->

<div class="col-lg-9">
                <div class="central-meta " >
                  <!-- <div class="forum-open"> -->

                    <aside class="sidebar">
                        <!-- <div class="widget whitish low-opacity">
                            <div style="background-image: url(images/resources/dob2.png)" class="bg-image"></div>
                            <div class="dob-head">
                                <img src="images/resources/sug-page-5.jpg" alt="">
                                <span>22nd Birthday</span>
                                <div class="dob">
                                    <i>19</i>
                                    <span>September</span>
                                </div>
                            </div>
                            <div class="dob-meta">
                                <figure><img src="images/resources/dob-cake.gif" alt=""></figure>
                                <h6><a href="#" title="">Lucy Carbel</a> valentine's birthday</h6>
                                <p>leave a message with your best wishes on his profile.</p>
                            </div>
                        </div> -->
                        <div class="widget friend-list">
                            <h4 class="widget-title">Active Users</h4>
                            <div id="searchDir"><form class="filterform" action="#"><input class="filterinput" type="text" placeholder="Search Contacts..."></form></div>
                            <ul id="people-list" class="friendz-list ps-container ps-theme-default ps-active-y" data-ps-id="f06da629-5097-4606-0b26-07fcc135c91b">
                                <li>
                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar.jpg" alt="">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">bucky barnes</a>
                                        <i>wintersolder@gmail.com</i>
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar2.jpg" alt="">
                                        <span class="status f-away"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">Sarah Loren</a>
                                        <i>barnes@gmail.com</i>
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar3.jpg" alt="">
                                        <span class="status f-off"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">jason borne</a>
                                        <i>jasonb@gmail.com</i>
                                    </div>
                                </li>
                                <li>
                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar4.jpg" alt="">
                                        <span class="status f-off"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">Cameron diaz</a>
                                        <i>jasonb@gmail.com</i>
                                    </div>
                                </li>
                                <li>

                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar5.jpg" alt="">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">daniel warber</a>
                                        <i>jasonb@gmail.com</i>
                                    </div>
                                </li>
                                <li>

                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar6.jpg" alt="">
                                        <span class="status f-away"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">andrew</a>
                                        <i>jasonb@gmail.com</i>
                                    </div>
                                </li>
                                <li>

                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar7.jpg" alt="">
                                        <span class="status f-off"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">amy watson</a>
                                        <i>jasonb@gmail.com</i>
                                    </div>
                                </li>
                                <li>

                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar5.jpg" alt="">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">daniel warber</a>
                                        <i>jasonb@gmail.com</i>
                                    </div>
                                </li>
                                <li>

                                    <figure>
                                        <img src="./assets/sar/images/resources/friend-avatar2.jpg" alt="">
                                        <span class="status f-away"></span>
                                    </figure>
                                    <div class="friendz-meta">
                                        <a href="time-line.html">Sarah Loren</a>
                                        <i>barnes@gmail.com</i>
                                    </div>
                                </li>
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 450px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 367px;"></div></div></ul>
                            <div class="chat-box">
                                <div class="chat-head">
                                    <span class="status f-online"></span>
                                    <h6>Bucky Barnes</h6>
                                    <div class="more">
                                        <span><i class="ti-more-alt"></i></span>
                                        <span class="close-mesage"><i class="ti-close"></i></span>
                                    </div>
                                </div>
                            
                            </div>
                        </div><!-- friends list sidebar -->
                   
              
                        
                    </aside>
                  </div>
                </div>



              </div>
              </div>
                </div>
     

                <!-- </div> -->
            </div>
          </div>
      </div>
</section>
