<app-nav-bar></app-nav-bar>
<app-active-bar></app-active-bar>
<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                       <app-profile-bar></app-profile-bar>
                    <!-- Message -->
                    <div class="col-lg-12" >

                        <div class="central-meta item" *ngFor="let message of this.messageService.messages">
                         
                            <div class="user-post">
                                <div class="friend-info">
                                    <figure>
                                        <img *ngIf="!message.is_Anon" src="./../../assets/{{message.userFromImage}}" alt="">
                                        <img *ngIf="message.is_Anon" src="../../../assets/Unknown_person.jpg" alt="">

                                    </figure>
                                    <div class="friend-name">
                                        <div class="more">
                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                <ul>
                                                   
                                                    <li class="bad-report" ><i class="fa fa-flag"></i>Report</li>
                                                    <li class="bad-report" (click)="MsgToPost(message.messageContent)"><i class="fa fa-globe"></i>Publish</li>
                                                    <li class="bad-report" (click)="openReplyDailog(message.fromId)"><i class="fa fa-reply"></i>Reply</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ins *ngIf="!message.is_Anon"><a  href="time-line.html" title="">{{message.from}}</a> </ins>
                                        <ins *ngIf="message.is_Anon"><a  href="time-line.html" title="">Unknown</a> </ins>
                                        <span>{{message.messageDate| date:'medium'}} </span>
                                    </div>
                                    <div class="post-meta">
                                     								
                                        <div class="description">
                                            <p >{{message.messageContent}}  </p>
                                    
                                        </div>
                              
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                       
                       
                    
                    </div>
                      
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section><!-- content -->

<ng-template #callreplyDailog>
    <form class="example-form" [formGroup]="replyForm" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Message Content</mat-label>
          <textarea rows="4" type="text" matInput formControlName="messageContent">
          </textarea>
        </mat-form-field>
   
  
          <button (click)="replyMessage()">Reply</button>
    </form>
    
</ng-template>

