<app-nav-bar></app-nav-bar>
<app-active-bar></app-active-bar>
<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                       <app-profile-bar></app-profile-bar>
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">User Badges <a class="see-all" href="#" title="">See All</a></h4>
                                    <ul class="badgez-widget">
                                        <li>
                                        <a href="#" title="Male User" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge2.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="10 Years old User" data-toggle="tooltip"><img src="../../../assets/user/images/badges/year10.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="Page Admin" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge1.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="100+ Refferal" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge8.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="Tranding Posts" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge21.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="1000+ Subscribers" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge3.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="Pitnik Shirt winner" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge20.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="500+ Followers" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge10.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div><!-- badges -->
                             <!-- twitter feed-->
                             <!-- twitter feed-->
                                <div class="advertisment-box " >
                                    <h4 class="">advertisment</h4>
                                    <figure>
                                        <a href="#" title="Advertisment"><img src="../../../assets/user/images/resources/ad-widget.gif" alt=""></a>
                                    </figure>
                                </div>
                              
                            
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-9 " style="width:700px">
                            <div>
								<div class="">
									<div class="central-meta">
										<div class="full-postmeta">
											<ol class="pit-rate">
												<li class="rated"><i class="fa fa-star"></i></li>
												<li class="rated"><i class="fa fa-star"></i></li>
												<li class="rated"><i class="fa fa-star"></i></li>
												<li class="rated"><i class="fa fa-star"></i></li>
												<li class=""><i class="fa fa-star"></i></li>
												<li><span>4.7/5</span></li>
											</ol>
											<div class="share">
												<span>Saraha Badge</span>
												<a style="width:50px" href="#" title="1000+ Subscribers" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge3.png" alt=""></a>

											</div>
											
											<i></i>
											
											<h4> <span>Anonymous Messages Breaker</span> </h4>
											<p>
												This feature makes you know who is sending you an anynoumus messages, by showing the sender name 😉
											</p>
											
											<form class="qty-select">
												<div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input class="qty form-control" type="text" name="value" value="1" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
											</form>
											<span class="prices style4">
												<ins>
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">$</span>18.00
													</span>
												</ins>
												<del>
													<span class="woocommerce-Price-amount amount">
														<span class="woocommerce-Price-currencySymbol">$</span>23.00
													</span>
												</del>                                             
											</span>
											<div class="post-as">
												<div class="prod categories">
													<span class="cat-heading">Categories:
														<a title="" href="#">Movie Ticket</a>
														<a title="" href="#">Web Themes</a>
													</span>
												</div>
												<div class="prod tags">
													<span class="cat-heading">Applied by:
														<a title="" href="#">100 people</a>
												
													</span>
												</div>
											</div>
											<div class="extras">
												
												<a style="margin-right:4px ;" href="https://www.youtube.com/watch?v=XNeFJzO8v9c" title="" data-strip-group="mygroup" class="strip play-btn"><i class="fa fa-play-circle"></i> play video</a>
												<a href="https://www.youtube.com/watch?v=XNeFJzO8v9c" title="" data-strip-group="mygroup" class="strip play-btn"><i class="fa fa-credit-card"></i> Buy Now</a>

												<a title="" data-group="set2" class="html5lightbox btn2" href="">
												</a>
											</div>
										</div>
									</div>
									<div class="central-meta">
										<span class="title2">Related Features</span>
										<div class="row">
											<div class="col-lg-3 col-md-6">
												<div class="dig-pro">
													<figure>
														<img src="./assets/sar/images/resources/dig-product1.jpg" alt="">
														<div class="user-avatr">
															<div>
																<span>Posted by</span>
																<ins>Jack Carter</ins>
															</div>	
														</div>
													</figure>
													<div class="digi-meta">
														<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
														<p>Full E-Marketing for your digital product with cheap budget. </p>
														<div class="rate">
															<ol class="pit-rate">
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class=""><i class="fa fa-star"></i></li>
															</ol>
															<span class="qeemat"><del></del>$40</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-6">
												<div class="dig-pro">
													<figure>
														<img src="./assets/sar/images/resources/dig-product2.jpg" alt="">
														<div class="user-avatr">
															<div>
																<span>Posted by</span>
																<ins>Amy Watson</ins>
															</div>
														</div>
													</figure>
													<div class="digi-meta">
														<h4><a href="product-detail.html" title="">Android studio app</a></h4>
														<p>Make your own android app absolutely free by click here. </p>
														<div class="rate">
															<ol class="pit-rate">
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class=""><i class="fa fa-star"></i></li>
															</ol>
															<span class="qeemat"><del></del>$20</span>
														</div>
													</div>												
												</div>
											</div>
											<div class="col-lg-3 col-md-6">
												<div class="dig-pro">
													<figure>
														<img src="./assets/sar/images/resources/dig-product4.jpg" alt="">
														<div class="user-avatr">
															<div>
																<span>Posted by</span>
																<ins>Bob Frank</ins>
															</div>
														</div>
													</figure>
													<div class="digi-meta">
														<h4><a href="product-detail.html" title="">Android studio app</a></h4>
														<p>Make your own android app absolutely free by click here. </p>
														<div class="rate">
															<ol class="pit-rate">
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class=""><i class="fa fa-star"></i></li>
															</ol>
															<span class="qeemat"><del></del>$70</span>
														</div>
													</div>												
												</div>
											</div>
											<div class="col-lg-3 col-md-6">
												<div class="dig-pro">
													<figure>
														<img src="./assets/sar/images/resources/dig-product6.jpg" alt="">
														<div class="user-avatr">
															<div>
																<span>Posted by</span>
																<ins>Kiley Red</ins>
															</div>
														</div>
													</figure>
													<div class="digi-meta">
														<h4><a href="product-detail.html" title="">Android studio app</a></h4>
														<p>Make your own android app absolutely free by click here. </p>
														<div class="rate">
															<ol class="pit-rate">
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class="rated"><i class="fa fa-star"></i></li>
																<li class=""><i class="fa fa-star"></i></li>
															</ol>
															<span class="qeemat"><del>Old</del>$70</span>
														</div>
													</div>												
												</div>
											</div>
										</div>
									</div>
								
								</div>
                            </div>
                        </div>	<!-- sidebar -->
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section><!-- content -->

