<app-nav-bar></app-nav-bar>
<app-active-bar></app-active-bar>
<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                       <app-profile-bar></app-profile-bar>
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">User Badges <a class="see-all" href="#" title="">See All</a></h4>
                                    <ul class="badgez-widget">
                                        <li>
                                        <a href="#" title="Male User" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge2.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="10 Years old User" data-toggle="tooltip"><img src="../../../assets/user/images/badges/year10.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="Page Admin" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge1.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="100+ Refferal" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge8.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="Tranding Posts" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge21.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="1000+ Subscribers" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge3.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="Pitnik Shirt winner" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge20.png" alt=""></a>
                                        </li>
                                        <li>
                                        <a href="#" title="500+ Followers" data-toggle="tooltip"><img src="../../../assets/user/images/badges/badge10.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div><!-- badges -->
                             <!-- twitter feed-->
                             <!-- twitter feed-->
                                <div class="advertisment-box " >
                                    <h4 class="">advertisment</h4>
                                    <figure>
                                        <a href="#" title="Advertisment"><img src="../../../assets/user/images/resources/ad-widget.gif" alt=""></a>
                                    </figure>
                                </div>
                              
                            
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-9">
                            <div class="col-lg-9">
								<div class="">
									<div class="central-meta item " style="display: inline-block;margin-left:50px ; ">
										<div class="user-post job">
											<div class="friend-info">
												<figure>
													<img src="./assets/sar/images/resources/nearly1.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
																<li class="bad-report"><i class="fa fa-flag-o"></i>Report Post</li>
																<li><i class="fa fa-address-card-o"></i>Boost This Post</li>
																<li><i class="fa fa-clock-o"></i>Schedule Post</li>
																<li><i class="fa fa-wpexplorer"></i>Select as featured</li>
																<li><i class="fa fa-bell-slash-o"></i>Turn off Notifications</li>
															</ul>
														</div>
													</div>
													<ins><a href="time-line.html" title="">◔</a>  Anonymous Messages</ins>
												</div>
												<ol class="pit-rate">
													<li class="rated"><i class="fa fa-star"></i></li>
													<li class="rated"><i class="fa fa-star"></i></li>
													<li class="rated"><i class="fa fa-star"></i></li>
													<li class="rated"><i class="fa fa-star"></i></li>
													<li class=""><i class="fa fa-star"></i></li>
												</ol>
												<div class="post-meta">
													<div class="loc-cate">
														<ul class="cate">
											
													
														</ul>
														<ul class="loc">
															<li>1 month</li>
															<li><span>100$</span></li>
														</ul>
													</div>
													<div class="description">
														<p>
                                                    This badge makes you know who sent you a message 
                                                        </p>
													</div>
													<div class="rate-n-apply">
														<div class="job-price">
															<span>Applied By:</span>
															<ins> 30 People</ins>
														</div>
														<a href="career-detail.html" title="" class="main-btn" data-ripple="">Apply Now</a>
													</div>
													
												</div>
												<div class="coment-area">
													<ul class="we-comet">
														<li>
															<div class="comet-avatar">
																<img src="./assets/sar/images/resources/nearly3.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="time-line.html" title="">Jason borne</a></h5>
																<p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
																<div class="inline-itms">
																	<span>1 year ago</span>
																	<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>

														</li>
														<li>
															<div class="comet-avatar">
																<img src="./assets/sar/images/resources/comet-4.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="time-line.html" title="">Sophia</a></h5>
																<p>we are working for the dance and sing songs. this video is very awesome for the youngster.
																	<i class="em em-smiley"></i>
																</p>
																<div class="inline-itms">
																	<span>1 year ago</span>
																	<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>
														</li>
														<li>
															<a href="#" title="" class="showmore underline">more comments+</a>
														</li>
														<li class="post-comment">
															<div class="comet-avatar">
																<img src="./assets/sar/images/resources/nearly1.jpg" alt="">
															</div>
															<div class="post-comt-box">
																<form method="post">
																	<textarea placeholder="Post your comment"></textarea>
																	<div class="add-smiles">
																		<div class="uploadimage">
																			<i class="fa fa-image"></i>
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		<span class="em em-expressionless" title="add icon"></span>
																		<div class="smiles-bunch">
																			<i class="em em---1"></i>
																			<i class="em em-smiley"></i>
																			<i class="em em-anguished"></i>
																			<i class="em em-laughing"></i>
																			<i class="em em-angry"></i>
																			<i class="em em-astonished"></i>
																			<i class="em em-blush"></i>
																			<i class="em em-disappointed"></i>
																			<i class="em em-worried"></i>
																			<i class="em em-kissing_heart"></i>
																			<i class="em em-rage"></i>
																			<i class="em em-stuck_out_tongue"></i>
																		</div>
																	</div>

																	<button type="submit"></button>
																</form>	
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>	<!-- sidebar -->
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section><!-- content -->

