<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">S</span>
      <span style="--i:2;">A</span>
      <span style="--i:3;">R</span>
      <span style="--i:4;">A</span>
      <span style="--i:5;">H</span>
      <span style="--i:6;">A</span>
      <span style="--i:7;">.</span>
      <span style="--i:8;">.</span>
      <span style="--i:9;">.</span>
    </div>
  </div>
<app-header></app-header>


<div class="theme-layout">

<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
         <div class="row">
                    <div class="col-lg-3" style=" position: sticky; top: 0;"  >
                        <app-asiderbar></app-asiderbar>
                </div><!-- sidebar widgets -->

                <div class="col-lg-9" style=" padding-right: 0px">
                    <section>
                        <div class="gap2 gray-bg" style="padding-top: 0;padding-right: 0;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row merged20" id="page-contents">
                                         
                                            <div class="col-lg-12" >
                                               
                                                <div class="central-meta padding30">

                                                    <h4 class="create-post">All Service</h4>
                                                    <a href="#" class="main-btn" title="" style="margin-bottom:25px ;">Add Service</a>

                                                    <div class="load-more">
                                                        
                                                        <div class="central-meta item" style="display: inline-block;">
                                                          
                                                            <div class="classic-post">

                                                                <div class="classic-pst-meta">
                                                                    <div class="more">
                                                                        <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                            <ul>
                                                                                <li><i class="fa fa-pencil-square-o"></i>Edit Service</li>
                                                                                <li><i class="fa fa-trash-o"></i>Delete Service</li>
                                                                               </ul>
                                                                        </div>
                                                                    </div>
                                                                    <h4><i class="fa fa-check-circle" title="verified"></i> <a href="#" title=""> Bicycle BMW new for sale </a></h4>
                                                                    <p>Ask anonymous </p>
                                                                    <span class="prise">$300</span>
                                                                    <div class="location-area">
                                                                        <i>Duration: 1 month</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="central-meta item" style="display: inline-block;">
                                                            <div class="classic-post">
                                                               
                                                                <div class="classic-pst-meta">
                                                                    <div class="more">
                                                                        <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                            <ul>
                                                                                <li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                                                                <li><i class="fa fa-trash-o"></i>Delete Post</li>
                                                                                 </ul>
                                                                        </div>
                                                                    </div>
                                                                    <h4><i class="fa fa-check-circle" title="verified"></i> <a href="#" title=""> Exercise cycle machine </a></h4>
                                                                    <p>Open Live</p>
                                                                    <span class="prise">$800</span>
                                                                    <div class="location-area">
                                                                        <i>Duration: 1 month</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="central-meta item" style="display: none;">
                                                            <div class="classic-post">
                                                               
                                                                <div class="classic-pst-meta">
                                                                    <div class="more">
                                                                        <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                            <ul>
                                                                                <li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                                                                                <li><i class="fa fa-trash-o"></i>Delete Post</li>
                                                                                <li class="bad-report"><i class="fa fa-flag"></i>Report This Post</li>
                                                                                <li><i class="fa fa-clock-o"></i>Schedule Post</li>
                                                                                <li><i class="fa fa-wpexplorer"></i>Select as featured</li>
                                                                                <li><i class="fa fa-bell-slash-o"></i>Turn off Notifications</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <h4><i class="fa fa-check-circle" title="verified"></i> <a href="#" title=""> Dell Laptop for sale </a></h4>
                                                                    <p>Dell Laptop N5050 for sale 3 months used 8GB ram...</p>
                                                                    <span class="prise">$700</span>
                                                                    <div class="location-area">
                                                                        <i>Duration Mar,11 2020</i>
                                                                        <span><i class="fa fa-map-marker"></i> Toronto, Canada</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>





                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
         </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>