<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">S</span>
      <span style="--i:2;">A</span>
      <span style="--i:3;">R</span>
      <span style="--i:4;">A</span>
      <span style="--i:5;">H</span>
      <span style="--i:6;">A</span>
      <span style="--i:7;">.</span>
      <span style="--i:8;">.</span>
      <span style="--i:9;">.</span>
    </div>
  </div>
<app-header></app-header>


<div class="theme-layout">

<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
         <div class="row">
                    <div class="col-lg-3" style=" position: sticky; top: 0;"  >
                        <app-asiderbar></app-asiderbar>
                </div><!-- sidebar widgets -->

                <div class="col-lg-9" style="padding:0 ;">
                    <section>
                        <div class="gap2 gray-bg" style="padding: 0px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row merged20" id="page-contents">
                                         
                                            <div class="col-lg-12" >
                                               
                                                <div class="central-meta padding30">

                                                    <h4 class="create-post">All Service</h4>
                                                    <a class="main-btn" title="" style="margin-bottom:25px ;" mat-button (click)="CreateNewSevice()"> Add Service </a>

                                                    <div class="load-more">
                                                        <div *ngFor="let obj of featureService.feature" class="central-meta item" style="display: inline-block;">
                                                          
                                                            <div class="classic-post">
                                                        
                                                                <div class="classic-pst-meta">
                                                                    <div class="more">
                                                                        <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                            <ul>
                                                                                <li (click)="updateDailog(obj)"><i class="fa fa-pencil-square-o" ></i>Edit Service</li>
                                                                                <li (click)="deleteservice(obj.featureId)"><i class="fa fa-trash-o"></i>Delete Service</li>                                                                               </ul>
                                                                        </div>
                                                                    </div>
                                                                    <h4><i class="fa fa-check-circle" title="verified"></i> <a href="#" title=""> Bicycle BMW new for sale </a></h4>
                                                                    <p>{{obj.featureName}}</p>
                                                                    <span class="prise">${{obj.featurePrice}}</span>
                                                                    <div class="location-area">
                                                                        <i>Duration: {{obj.featureDuration}} month</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     
                                                    </div>





                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
         </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<ng-template #calldeleteDailog>
    <h2>Are You Sure uyou want to delete this item?</h2>
    <button mat-dialog-close="yes">Yes</button>
    <button mat-dialog-close="no">No</button>
</ng-template>

<ng-template #callupdateDailog>
    <form class="example-form" [formGroup]="updateForm" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Service Name</mat-label>
          <input type="text" matInput formControlName="featureName"
                 [(ngModel)]="p_data.featureName">
        </mat-form-field>
    <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>price</mat-label>
            <input type="number" matInput formControlName="featurePrice"
            [(ngModel)]="p_data.featurePrice">
          </mat-form-field>
    <br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Service Duration </mat-label>
            <input type="number" matInput formControlName="featureDuration" [(ngModel)]="p_data.featureDuration">
          </mat-form-field>
          <button (click)="updateService()">Update</button>
    </form>
    
</ng-template>