<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">S</span>
      <span style="--i:2;">A</span>
      <span style="--i:3;">R</span>
      <span style="--i:4;">A</span>
      <span style="--i:5;">H</span>
      <span style="--i:6;">A</span>
      <span style="--i:7;">.</span>
      <span style="--i:8;">.</span>
      <span style="--i:9;">.</span>
    </div>
  </div>
<app-header></app-header>


<div class="theme-layout">

<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
                <div class="col-lg-12" style="margin-top:25px ;">
                    <div class="info-section">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="stat-box">
                                    <i class="fa fa-users"></i>
                                    <div class="anlytc-meta">
                                        <h4>5412</h4>
                                        <p>70%</p>
                                        <span>Total Visitors</span> 
                                    </div>
                                    <div class="progress" style="height:6px">
                                        <div class="progress-bar" style="width:70%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="stat-box">
                                    <i class="fa fa-sign-in"></i>
                                    <div class="anlytc-meta">
                                        <h4>4515</h4>
                                        <p>50%</p>
                                        <span>New Signups </span> 
                                    </div>
                                    <div class="progress" style="height:6px">
                                        <div class="progress-bar bg-info" style="width:50%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="stat-box">
                                    <i class="fa fa-envelope"></i>
                                    <div class="anlytc-meta">
                                        <h4>8289</h4>
                                        <p>40%</p>
                                        <span>Email Enquiries </span> 
                                    </div>
                                    <div class="progress" style="height:6px">
                                        <div class="progress-bar bg-valvot" style="width:60%"></div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-3">
                        <app-asiderbar></app-asiderbar>
                </div><!-- sidebar widgets -->

                <div class="col-lg-3" style="max-height :100px ;">
                    <div class="central-meta postbox">
                        <span class="create-post"># users</span>
                        <div class="new-postbox">
                          
                            <div class="newpst-input">
                                10 users!
                            </div>     
                       
                        </div>	
                    </div><!-- add post new box -->
                </div>
                <div class="col-lg-3" style="max-height :100px ;">
                    <div class="central-meta postbox">
                        <span class="create-post">Sales and orders</span>
                        <div class="new-postbox">
                          
                            <div class="newpst-input">
                                100 order with 1000$
                            </div>     
                       
                        </div>	

                    </div><!-- add post new box -->


                    <div class="col-lg-12">
                        <div class="central-meta postbox">
                            <span class="create-post"> Lastest Reported users <a href="#" title="">See All</a></span>
                            <ul class="suggested-frnd-caro owl-carousel owl-theme owl-loaded owl-responsive-600" style="margin:40px">
                           <div class="owl-item cloned" style="width: 154.5px; margin-right: 10px;"><li>
                                    <img src="./assets/sar/images/resources/recent1.jpg" alt="">
                                    <div class="sugtd-frnd-meta">
                                        <a href="#" title="">Olivia</a>
                                        <span>1 mutual friend</span>
                                        <ul class="add-remove-frnd">
                                            <li class="add-tofrndlist"><a href="#" title="Add friend"><i class="fa fa-user-plus"></i></a></li>
                                            <li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
                                        </ul>
                                    </div>
                                </li></div><div class="owl-item cloned" style="width: 154.5px; margin-right: 10px;"><li>
                                    <img src="./assets/sar/images/resources/recent2.jpg" alt="">
                                    <div class="sugtd-frnd-meta">
                                        <a href="#" title="">Emma watson</a>
                                        <span>2 mutual friend</span>
                                        <ul class="add-remove-frnd">
                                            <li class="add-tofrndlist"><a href="#" title="Add friend"><i class="fa fa-user-plus"></i></a></li>
                                            <li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
                                        </ul>
                                    </div>
                                </li></div><div class="owl-item cloned" style="width: 154.5px; margin-right: 10px;"><li>
                                    <img src="./assets/sar/images/resources/recent3.jpg" alt="">
                                    <div class="sugtd-frnd-meta">
                                        <a href="#" title="">Isabella</a>
                                        <span><a href="#" title="">Emmy</a> is mutual friend</span>
                                        <ul class="add-remove-frnd">
                                            <li class="add-tofrndlist"><a href="#" title="Add friend"><i class="fa fa-user-plus"></i></a></li>
                                            <li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
                                        </ul>
                                    </div>
                                </li></div>
                                <div class="owl-item cloned" style="width: 154.5px; margin-right: 10px;"><li>
                                    <img src="./assets/sar/images/resources/recent1.jpg" alt="">
                                    <div class="sugtd-frnd-meta">
                                        <a href="#" title="">Olivia</a>
                                        <span>1 mutual friend</span>
                                        <ul class="add-remove-frnd">
                                            <li class="add-tofrndlist"><a href="#" title="Add friend"><i class="fa fa-user-plus"></i></a></li>
                                            <li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
                                        </ul>
                                    </div>
        
                                </li>
                                </div> <div class="owl-item cloned" style="width: 154.5px; margin-right: 10px;"><li>
                                    <img src="./assets/sar/images/resources/recent1.jpg" alt="">
                                    <div class="sugtd-frnd-meta">
                                        <a href="#" title="">Olivia</a>
                                        <span>1 mutual friend</span>
                                        <ul class="add-remove-frnd">
                                            <li class="add-tofrndlist"><a href="#" title="Add friend"><i class="fa fa-user-plus"></i></a></li>
                                            <li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                </div>
        
                                <div class="owl-item cloned" style="width: 154.5px; margin-right: 10px;"><li>
                                    <img src="./assets/sar/images/resources/recent1.jpg" alt="">
                                    <div class="sugtd-frnd-meta">
                                        <a href="#" title="">Olivia</a>
                                        <span>1 mutual friend</span>
                                        <ul class="add-remove-frnd">
                                            <li class="add-tofrndlist"><a href="#" title="Add friend"><i class="fa fa-user-plus"></i></a></li>
                                            <li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                </div>
                            </ul>
                        </div>
                    </div>




                </div><div class="col-lg-3">
                <div class="widget">
                    <div class="weather-widget low-opacity bluesh">
                        <div class="bg-image" style="background-image: url(images/resources/weather.jpg)"></div>
                        <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                        <div class="weather-week">
                            <div class="icon sun-shower">
                              <div class="cloud"></div>
                              <div class="sun">
                                <div class="rays"></div>
                              </div>
                              <div class="rain"></div>
                            </div>
                        </div>
                        <div class="weather-infos">
                            <span class="weather-tem">25</span>
                            <h3>Cloudy Skyes<i>Sicklervilte, New Jersey</i></h3>
                            <div class="weather-date skyblue-bg">
                                <span>MAY<strong>21</strong></span>
                            </div>
                        </div>
                        <div class="monthly-weather">
                            <ul>
                                <li>
                                    <span>Sun</span>
                                    <a href="#" title=""><i class="wi wi-day-sunny"></i></a>
                                    <em>40°</em>
                                </li>
                                <li>
                                    <span>Mon</span>
                                    <a href="#" title=""><i class="wi wi-day-cloudy"></i></a>
                                    <em>10°</em>
                                </li>
                                <li>
                                    <span>Tue</span>
                                    <a href="#" title=""><i class="wi wi-day-hail"></i></a>
                                    <em>20°</em>
                                </li>
                                <li>
                                    <span>Wed</span>
                                    <a href="#" title=""><i class="wi wi-day-lightning"></i></a>
                                    <em>34°</em>
                                </li>
                                <li>
                                    <span>Thu</span>
                                    <a href="#" title=""><i class="wi wi-day-showers"></i></a>
                                    <em>22°</em>
                                </li>
                                <li>
                                    <span>Fri</span>
                                    <a href="#" title=""><i class="wi wi-day-windy"></i></a>
                                    <em>26°</em>
                                </li>
                                <li>
                                    <span>Sat</span>
                                    <a href="#" title=""><i class="wi wi-day-sunny-overcast"></i></a>
                                    <em>30°</em>
                                </li>
                            </ul>
                        </div>
                        
                    </div><!-- Weather Widget -->
                </div>
            </div>

        </div>	
</div>
</div>
</div>	
</div>	
</section>


<div class="bottombar">
<div class="container">
<div class="row">
<div class="col-md-12">
<span class="copyright">© Pitnik 2020. All rights reserved.</span>
<i><img src="./assets/sar/images/credit-cards.png" alt=""></i>
</div>
</div>
</div>
</div>
</div>