
<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">S</span>
      <span style="--i:2;">A</span>
      <span style="--i:3;">R</span>
      <span style="--i:4;">A</span>
      <span style="--i:5;">H</span>
      <span style="--i:6;">A</span>
      <span style="--i:7;">.</span>
      <span style="--i:8;">.</span>
      <span style="--i:9;">.</span>
    </div>
  </div>
<app-header></app-header>


<div class="theme-layout">

    <section >
        <div class="gap gray-bg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="row merged20" id="page-contents">
                    <!-- <div class="col-lg-12" style="margin-top:25px ;">
                        <div class="info-section">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="stat-box">
                                        <i class="fa fa-users"></i>
                                        <div class="anlytc-meta">
                                            <h4>5412</h4>
                                            <p>70%</p>
                                            <span>Total Visitors</span> 
                                        </div>
                                        <div class="progress" style="height:6px">
                                            <div class="progress-bar" style="width:70%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="stat-box">
                                        <i class="fa fa-sign-in"></i>
                                        <div class="anlytc-meta">
                                            <h4>4515</h4>
                                            <p>50%</p>
                                            <span>New Signups </span> 
                                        </div>
                                        <div class="progress" style="height:6px">
                                            <div class="progress-bar bg-info" style="width:50%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="stat-box">
                                        <i class="fa fa-envelope"></i>
                                        <div class="anlytc-meta">
                                            <h4>8289</h4>
                                            <p>40%</p>
                                            <span>Email Enquiries </span> 
                                        </div>
                                        <div class="progress" style="height:6px">
                                            <div class="progress-bar bg-valvot" style="width:60%"></div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
            
                    <div class="row">
                      <div class="col-lg-3">
                          <app-asiderbar></app-asiderbar>
                  </div><!-- sidebar widgets -->
    
                <div class="central-meta col-lg-9">
                    <div class="forum-list">
                        <h4 class="create-post">Contact US Messages</h4>

                        <table  class="table table-responsive">
                            <thead>
                                <tr >
                                    <th scope="col">Message</th>
                                    <th scope="col"> Name</th>
                                    <th scope="col"> Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-comments"></i> 
                                        <a href="forums-category.html" title="">Asset for creating a beautiful website</a>
                                        <p>list your recommended website and when you start to create your website so please check your laptop window and battery :-)</p>
                                    </td>
                                    <td style="width:100px ;display: inline-block;"><p>Sara Watson</p></td>
                                    <td><p>Sara@gmail.com</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-comments"></i> 
                                        <a href="forums-category.html" title="">Modifications &amp; Useful Snippets</a>
                                        <p>Share your own custom snippets for modifying the winku template beyond it's limits.</p>
                                    </td>
                                    <td>10</td>
                                    <td>3</td>
                                </tr>
                               
                            </tbody>
                        </table>
                      
                    </div>
                </div>
                </div>
         </div>
                </div>
            </div>
      </div>
    </div>
</section>








