
<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">S</span>
      <span style="--i:2;">A</span>
      <span style="--i:3;">R</span>
      <span style="--i:4;">A</span>
      <span style="--i:5;">H</span>
      <span style="--i:6;">A</span>
      <span style="--i:7;">.</span>
      <span style="--i:8;">.</span>
      <span style="--i:9;">.</span>
    </div>
  </div>
<app-header></app-header>


<div class="theme-layout">

<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
         <div class="row">
                    <div class="col-lg-3" style=" position: sticky; top: 0;"  >
                        <app-asiderbar></app-asiderbar>
                </div><!-- sidebar widgets -->

                <div class="central-meta col-lg-9">
                    <div class="forum-list">
                        <table  class="table table-responsive">
                            <thead>
                                <tr >
                                    <th scope="col">Message</th>
                                    <th scope="col"> Name</th>
                                    <th scope="col"> Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-comments"></i> 
                                        <a href="forums-category.html" title="">Asset for creating a beautiful website</a>
                                        <p>list your recommended website and when you start to create your website so please check your laptop window and battery :-)</p>
                                    </td>
                                    <td style="width:100px ;display: inline-block;"><p>Sara Watson</p></td>
                                    <td><p>Sara@gmail.com</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-comments"></i> 
                                        <a href="forums-category.html" title="">Modifications &amp; Useful Snippets</a>
                                        <p>Share your own custom snippets for modifying the winku template beyond it's limits.</p>
                                    </td>
                                    <td>10</td>
                                    <td>3</td>
                                </tr>
                               
                            </tbody>
                        </table>
                      
                    </div>
                </div>
                </div>
         </div>
                </div>
            </div>
      </div>
    </div>
</section>








