<div class="www-layout">
    <section>
        <div class="gap no-gap signin whitish medium-opacity register">
            <div class="bg-image" style="background-image:url(../assets/sar/images/resources/theme-bg.jpg)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="big-ad">
                            <a class="" href="http://localhost:4200//Home">   <figure><img src="../assets/sar/images/logo.png" alt=""></figure>
                            </a>
                            <h1>Welcome to the Pitnik</h1>
                            <p>
                                 Pitnik is a social network template that can be used to connect people. use this template for multipurpose social activities like job, dating, posting, bloging and much more. Now join & Make Cool Friends around the world !!!                             
                            </p>
                            <div class="barcode">
                                <figure><img src="./assets/sar/images/resources/Barcode.jpg" alt=""></figure>
                                <div class="app-download">
                                    <span>Download Mobile App and Scan QR Code to login</span>
                                    <ul class="colla-apps">
                                        <li><a title="" href="https://play.google.com/store?hl=en"><img src="./assets/sar/images/android.png" alt="">android</a></li>
                                        <li><a title="" href="https://www.apple.com/lae/ios/app-store/"><img src="./assets/sar/images/apple.png" alt="">iPhone</a></li>
                                        <li><a title="" href="https://www.microsoft.com/store/apps"><img src="./assets/sar/images/windows.png" alt="">Windows</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="we-login-register">
                            <div class="form-title">
                                <i class="fa fa-key"></i>Sign Up
                                <span>Sign Up now and meet the awesome friends around the world.</span>
                            </div>
                            <form class="we-form"  [formGroup]="registerForm">
                                <mat-form-field appearance="outline" >
                                    <input type="text" placeholder="Full Name" class="inputfield" matInput formControlName="name">
                                
                              
                                </mat-form-field>
                                <mat-form-field appearance="outline" >
                                    <input type="text" placeholder="Username" class="inputfield" matInput  formControlName="username">
                                
                              
                                </mat-form-field>
                                <mat-form-field appearance="outline" >

                                
                                <input type="text" placeholder="email" class="inputfield" matInput  formControlName="email">
                               
 
                            </mat-form-field>
                            <mat-form-field appearance="outline" >

                                <input type="password" placeholder="Password"  class="inputfield " matInput formControlName="password" >
                             
                                
                            </mat-form-field>
                            <mat-form-field appearance="outline" >

                                <input type="text" placeholder="+1234-567-987" class="inputfield" matInput formControlName="phonenumber">
                             
                                  <!--I guess this is not working-->
                             
                            </mat-form-field>
                            <mat-form-field appearance="outline" >

                                <input type="date" class="inputfield" matInput formControlName="birthdate">
                             
                               
                             
                            </mat-form-field>
                            <mat-form-field appearance="outline" >
                                <select  class="inputfield" aria-label="country" matInput formControlName="country">
                                    
                                    <!-- <option selected matInput formControlName="country">Open this select menu</option> -->
                                    <option value="Ajloun"formControlName="country">Ajloun</option>
                                    <option value="Amman"formControlName="country">Amman</option>
                                    <option value="Aqaba"formControlName="country">Aqaba</option>
                                    <option value="Salt"formControlName="country">Salt</option>
                                    <option value="Zarqa"formControlName="country">Zarqa</option>
                                    <option value="Madaba"formControlName="country">Madaba</option>
                                  </select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" >
                                <select class="inputfield" aria-label="gender" formControlName="gender">
                                    <!-- <option selected>Gender</option> -->
                                    <option value="Female" formControlName="gender" >Female</option>
                                    <option value="Male" formControlName="gender" >Male</option>
                              
                                  </select>
                            </mat-form-field>
                          
                            <!-- <input type="file" #file formControlName="imagePath" (change)="uploadImage(file.files)" > -->
                            <input type="file" (change)="onFileChanged($event)" required formControlName="imagepath"/>
                            <!-- <img [src]="imageShow" height="200"> <br/> -->
                              
                            
                                <button class="b"  type="submit" (click)="CreateUser()" cdkFocusInitial>Register</button>
                                <a class="forget underline" href="#" title="">forgot password?</a>
                            </form>
                            <a data-ripple="" title="" href="#" class="with-smedia facebook"><i class="fa fa-facebook"></i></a>
                            <a data-ripple="" title="" href="#" class="with-smedia twitter"><i class="fa fa-twitter"></i></a>
                            <a data-ripple="" title="" href="#" class="with-smedia instagram"><i class="fa fa-instagram"></i></a>
                            <a data-ripple="" title="" href="#" class="with-smedia google"><i class="fa fa-google-plus"></i></a>
                            <span>already have an account? <a class="we-account underline" href="#" title="">Sign in</a></span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
     
</div>
