


<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                  <!-- sidebar widgets -->
                        <div class="user-profile">
                         
                             
                            <div class="central-meta" style="height:450px ;width:1109px" >
                                <div id="" class="carousel slide" data-ride="carousel" style="width:100%; height:580px ;">
                                    <div class="carousel-inner" style="height: 454px;">
                                      <div class="carousel-item active" >
                                        <div class="unit-text-caro">
                                            <img src="./assets/sar/images/resources/text-caro-2.jpg"  alt="">
                                            <div class="text-caro-meta">
                                                <span>Saraha Time Social Network</span>
                                                <img src="./assets/sar/images/icon-21.png" alt="">
                                                <h1><a href="#" title="">Contact with  <span>Anyone you want!</span></a></h1>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, 
                                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore volutpat naomi delgado.
                                                </p>
                                            </div>
                                        </div>                                      </div>
                                      <div class="carousel-item">
                                        <div class="unit-text-caro">
                                            <img src="./assets/sar/images/resources/text-caro-1.jpg" alt="">
                                            <div class="text-caro-meta">
                                                <span>Saraha Time Social Network</span>
                                                <img src="./assets/sar/images/icon-21.png" alt="">
                                                <h1><a href="#" title="">Contact with  <span>Anyone you want!</span></a></h1>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, 
                                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore volutpat naomi delgado.
                                                </p>
                                            </div>
                                        </div>                                 
                                         </div>
                                    
                                    </div>
                                  </div>
                            </div>

                      
                            
                            <div class="profile-section">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="profile-author">
                                    
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-9">
                                        <ul class="nav nav-tabs links-tab">
                                             <li class="nav-item"><a class="" href="#link1" data-toggle="tab">About Section</a></li>
                                             <li class="nav-item"><a class="active" href="#link4" data-toggle="tab">Home Page <span></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>	
                        </div><!-- user profile banner  -->
                        <div class="col-lg-12">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="link1">
                                    <div class=" merged20">
                                        
                                        <div class="row">
                                            <div class="col-lg-3">
                      
                                                <app-asiderbar></app-asiderbar>
                                        </div>
                                        <div class=" col-lg-9">
                                            <div class="central-meta">
                                                <div class="don-left whitish high-opacity">
                                                    <div class="bg-image" style="z-index: 0; background-image: url(./assets/sar/images/resources/facebook-office.jpg)"></div>
                                                    <div class="our-moto">
                                                        <p><span>Saraha Time</span> we are proudly non-profit, non-corporate and non-compromised. Thousand of people like to help us stand up for an open web for all. We rely on donation to carry out our mission to keep the web open and free. Will you give today?</p>
                                                    </div>
                                                 </div>
                                                <div class="don-right">
                                                    <div class="don-form">
                                                   
                                                   
                                                   
                                                        
                                                       
                                                        <form method="post" class="c-form personal">
                                                            <span>About Info</span>
                                                            <div class="row merged10">
                                                         
                                                                <div class="col-lg-12">
                                                                    <input type="text" placeholder="Head Line">
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <textarea rows="5" placeholder="Text"></textarea>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <label class="form-label" for="customFile">About Image</label>
                                                                    <input  style="height: 80px;" type="file" class="form-control main-btn" id="customFile" />
                                                                    </div>
                                                                <div class="col-lg-12">
                                                                    <button type="submit" class="main-btn">Save</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                        </div>
                                   	
                                    </div>
                                </div>
                                <div class="tab-pane" id="link2">
                                    <div class="central-meta">
                                        <div class="create-post">Chanel's Videos</div>
                                        <div class="row merged20">
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post17.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 2.5k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">First Music concert in the Five star Ramada hotel</a></h6>
                                                        <span class="upload-time">two weeks ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post16.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 20k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">Summer collection of bikini 2020 at amazone</a></h6>
                                                        <span class="upload-time">a week ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post15.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 34k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">Best cooking Receipe at home you can make easy</a></h6>
                                                        <span class="upload-time">one month ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post14.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 3M</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">Orange and lemon juice is best for loose weight</a></h6>
                                                        <span class="upload-time">20 days ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post2.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">2:12</span>
                                                        <em>views: 5k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6 class="no-margin"><a href="pittube-detail.html" title="">Beautiful girls in USA ready for photoshoot 2020</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post3.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">3:00</span>
                                                        <em>views: 200</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6 class="no-margin"><a href="#" title="">You never see the coffe beans new receipe in 2019</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post4.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">2:50</span>
                                                        <em>views: 2k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6 class="no-margin"><a href="pittube-detail.html" title="">My first v-log channel on pittube in 2020</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post6.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:00</span>
                                                        <em>views: 1k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">Colors always keep our life colorful in this universe.</a></h6>
                                                        <span class="upload-time">10 week ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post7.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:02</span>
                                                        <em>views: 25k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">First tour at miami beach with my class fellows in 2020</a></h6>
                                                        <span class="upload-time">three week ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post8.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">3:30</span>
                                                        <em>views: 3.5M</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">Birds is also a beauti of thi world keep 1000 birds in your life</a></h6>
                                                        <span class="upload-time">20 days ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post9.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">5:39</span>
                                                        <em>views: 2.5k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">My Pet dogi goes wild when somebody tease him</a></h6>
                                                        <span class="upload-time">5 months ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post10.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 2.5k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">2020 chrismis my fellow is always with me</a></h6>
                                                        <span class="upload-time">10 days ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post11.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 5k</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="#" title="">New Suzuki Bike 2020 model is available for test drive </a></h6>
                                                        <span class="upload-time">a week ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post12.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 2.1M</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">Chrimstas gift i have collect more and more from my fellows</a></h6>
                                                        <span class="upload-time">3 months ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="tube-post">
                                                    <figure>
                                                        <img src="./assets/sar/images/resources/tube-post13.jpg" alt="">
                                                        <div class="save-post" title="Watch Later"><i class="fa fa-clock-o"></i></div>
                                                        <span class="vid-time">4:32</span>
                                                        <em>views: 3.5M</em>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
                                                                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                                                                    <li class="share-pst"><i class="fa fa-share-alt"></i>Share</li>
                                                                    <li class="get-link"><i class="fa fa-link"></i>Copy Link</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                    <div class="tube-title">
                                                        <h6><a href="pittube-detail.html" title="">My New song got 4M views in one month hope you like.</a></h6>
                                                        <span class="upload-time">two week ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="auto-load">
                                                    <div class="wave">
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                               
                                <div class="tab-pane  active" id="link4">
                                    <div class="">
                                    
                                        <div class="row merged20">
                                            <div class="col-lg-3">
                      
                                                <app-asiderbar></app-asiderbar>
                                        </div>
                                        <div class=" col-lg-9">
                                            <div class="">
                                                <div class="forum-form">
                                                    <div class="central-meta">
                                                        <form  class="c-form" [formGroup]="updateHomeForm">
                                                            <div>
                                                                <label>Logo Image</label>
                                                             <img width="100" height="100" class="rounded-circle mb-3" data-holder-rendered="true"  src="../../../assets/{{this.homeService.home.logo}}" alt="">
                                                             <br>   
                                                             <input type="file" #file1 formControlName="logo" (change)="uploadImage(file1.files,1)" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Email </label>
                                                                <input type="email" [(ngModel)]="this.homeService.home.email" formControlName="email" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Phone Number</label>
                                                                <input type="string" formControlName="phoneNumber"  [(ngModel)]="this.homeService.home.phoneNumber" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Address</label>
                                                                <input type="text" formControlName="address"  [(ngModel)]="this.homeService.home.address" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Slider1 Image</label>
                                                                <img width="600" height="200" class="ml-5" src="../../../assets/{{this.homeService.home.slider1}}">
                                                                <input type="file" #file2 formControlName="slider1" (change)="uploadImage(file2.files,2)" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Description 1</label>
                                                                <textarea rows="3" formControlName="description1"  [(ngModel)]="this.homeService.home.description1" placeholder=""></textarea>
                                                            </div>
                                                            <div>
                                                                <label>Slider2 Image</label>
                                                                <img width="600" height="200" class="ml-5" src="../../../assets/{{this.homeService.home.slider2}}">
                                                                <input type="file" #file3 formControlName="slider2" (change)="uploadImage(file3.files,3)" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Description 2</label>
                                                                <textarea rows="3" formControlName="description2" [(ngModel)]="this.homeService.home.description2" placeholder=""></textarea>
                                                            </div>
                                                            <div>
                                                                <label>Member1 Image</label>
                                                                <img width="100" height="300" class="ml-5 mb-3" src="../../../assets/{{this.homeService.home.member1_Image}}">
                                                                <input type="file" #file4 formControlName="member1_Image" (change)="uploadImage(file4.files,4)" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Member1 Name</label>
                                                                <input type="text" formControlName="member1_Name" [(ngModel)]="this.homeService.home.member1_Name" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Member2 Image</label>
                                                                <img width="100" height="300" class="ml-5 mb-3" src="../../../assets/{{this.homeService.home.member2_Image}}">
                                                                <input type="file" #file5 formControlName="member2_Image" (change)="uploadImage(file5.files,5)" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Member2 Name</label>
                                                                <input type="text" formControlName="member2_Name" [(ngModel)]="this.homeService.home.member2_Name" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Member3 Image</label>
                                                                <img width="100" height="300" class="ml-5 mb-3" src="../../../assets/{{this.homeService.home.member3_Image}}">
                                                                <input type="file" #file6 formControlName="member3_Image" (change)="uploadImage(file6.files,6)" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Member3 Name</label>
                                                                <input type="text" formControlName="member3_Name" [(ngModel)]="this.homeService.home.member3_Name" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Member4 Image</label>
                                                                <img width="100" height="300" class="ml-5 mb-3" src="../../../assets/{{this.homeService.home.member4_Image}}">
                                                                <input type="file" #file7 formControlName="member4_Image" (change)="uploadImage(file7.files,7)" placeholder="">
                                                            </div>
                                                            <div>
                                                                <label>Member4 Name</label>
                                                                <input type="text" formControlName="member4_Name" [(ngModel)]="this.homeService.home.member4_Name" placeholder="">
                                                            </div>
                                                            <button (click)="updateHome()"> Update </button> 
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                                            
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section>