<div class="theme-layout">
	
<app-navbar></app-navbar>

	<section>
		<div class="gap no-gap overlap22">
			<div class="text-caro">
				<div class="unit-text-caro">
					<img src="./assets/sar/images/resources/text-caro-1.jpg" alt="">
					<div class="text-caro-meta">
						<span>Saraha Time</span>
						<img src="./assets/sar/images/icon-21.png" alt="">
						<h1><a href="#" title="">Saraha  <span>Time</span></a></h1>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore volutpat naomi delgado.
						</p>
					</div>
				</div>
				<div class="unit-text-caro">
					<img src="./assets/sar/images/resources/text-caro-2.jpg" alt="">
					<div class="text-caro-meta">
						<span>Pitnik Social Network</span>
						<img src="./assets/sar/images/icon-21.png" alt="">
						<h1><a href="#" title="">Download <span>Mobile App</span></a></h1>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore volutpat naomi delgado.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- hey banner carousel on top -->
	
	<section id="About">
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="welcome-area">
							<h2>Welcome to Saraha Time Website.</h2>
							<p>
								Saraha allowed people to text messages to others and the person reading that could then reply anonymously							
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="welcome-avatar">
							<img src="./assets/sar/images/sarahaimage4.jpg" alt="" height="250">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- welcome section -->

	<section id="Testimonial">
    	<div class="gap">
    		<div class="container">
    			<div class="row">
                	<div class="col-lg-6 col-md-6">
                    	<div class="tab-sec">
                            <div class="heading-2">
                                <h4>Our Devoted <span>Clients</span></h4>
                                <p>we shine a spotlight across your organization to fully understand its people, 
                                    processes,and technology. Psd template we shine a spotlight </p>
                            </div>
                            <div class="dc-toggle">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="toogle">
                                                <span>Cras eu justo non ligula sodales interdum non ?</span>
                                                <i class="fa fa-television"></i>
                                            </i>
                                            </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p>lora donec accumsan felis eu tortor sollicitudin, nec consectetur turpis convallis. Cras eu justo non ligula sodales interdum non in ipsum. Suspendisse faucibus lacus feugiat libero posuere pretium non ac nulla vestibulum eget nibh non enim consequat malesuada dapibus sed sapien nulla vel vehicula risus. Sed malesuada bibendum turpis rhoncus laoreet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                          <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              <i class="toogle">
                                                <span>Cras eu justo non ligula sodales interdum non ?</span>
                                                <i class="fa fa-television"></i>
                                            </i>
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                    <p>lora donec accumsan felis eu tortor sollicitudin, nec consectetur turpis convallis. Cras eu justo non ligula sodales interdum non in ipsum. Suspendisse faucibus lacus feugiat libero posuere pretium non ac nulla vestibulum eget nibh non enim consequat malesuada dapibus sed sapien nulla vel vehicula risus. Sed malesuada bibendum turpis rhoncus laoreet.</p>
                                                </div>
                                        </div>
                                  </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingthree">
                                          <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                                              <i class="toogle">
                                                <span>Cras eu justo non ligula sodales interdum non ?</span>
                                                <i class="fa fa-television"></i>
                                            </i>
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapsethree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthree">
                                            <div class="panel-body">
                                                <p>lora donec accumsan felis eu tortor sollicitudin, nec consectetur turpis convallis. Cras eu justo non ligula sodales interdum non in ipsum. Suspendisse faucibus lacus feugiat libero posuere pretium non ac nulla vestibulum eget nibh non enim consequat malesuada dapibus sed sapien nulla vel vehicula risus. Sed malesuada bibendum turpis rhoncus laoreet.</p>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div><!-- tabs -->
                    </div><!-- bootstrap accordion -->
					<div class="col-lg-6 col-md-6">
						<div class="testi-caro">
							<div class="testi-silver">
								<span><img alt="" src="./assets/sar/images/resources/testi-silver4.jpg"></span>
								<div class="testi-meta">
									<p>
										This app is very nice and lovely, when i am boring i am sit on the chair and play with this. its very lovely i love it.
									</p>
									<span><i class="fa fa-thumbs-o-up"></i>Frank Martin</span>
									<i>designer</i>
								</div>
							</div>
							<div class="testi-silver">
								<span><img alt="" src="./assets/sar/images/resources/testi-silver1.jpg"></span>
								<div class="testi-meta">
									<p>
										This app is very nice and lovely, when i am boring i am sit on the chair and play with this. its very lovely i love it.
									</p>
									<span><i class="fa fa-thumbs-o-up"></i>Jonathan Groff</span>
									<i>designer</i>
								</div>
							</div>
							<div class="testi-silver">
								<span><img alt="" src="./assets/sar/images/resources/testi-silver2.jpg"></span>
								<div class="testi-meta">
									<p>
										This app is very nice and lovely, when i am boring i am sit on the chair and play with this. its very lovely i love it.
									</p>
									<span><i class="fa fa-thumbs-o-up"></i>Lucy grey</span>
									<i>designer</i>
								</div>
							</div>
							<div class="testi-silver">
								<span><img alt="" src="./assets/sar/images/resources/testi-silver3.jpg"></span>
								<div class="testi-meta">
									<p>
										This app is very nice and lovely, when i am boring i am sit on the chair and play with this. its very lovely i love it.
									</p>
									<span><i class="fa fa-thumbs-o-up"></i>Emma Watson</span>
									<i>designer</i>
								</div>
							</div>
						</div>
					</div>
                </div>
    		</div>
    	</div>
    </section><!-- tab & testimonial carousel -->
	
	
	
	

	
	<section id="Contact">
		<div class="news-letter-bx">
			<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="leter-meta">
						<h2>Contact Us</h2>
						<p>
							Be free to write what do you want...
						</p>
						<i><img src="./assets/sar/images/envelop.png" alt=""></i>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="leter-input">
						<form method="post">
							<input type="text" placeholder="Your Email...">
							<input type="text" placeholder="Your Message...">
							<button type="submit" class="main-btn" data-ripple="">
							     Send Message
								<i class="fa fa-paper-plane-o"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
			</div>	
		</div>
	</section><!-- subscribe sec -->


<!-- footer -->
<app-footer></app-footer>
	
	
</div>
