<footer class="style2 dark">
    <div class="logo">
        <img src="./assets/sar/images/logo.png" height="250" width="200" alt="">
    </div>
    <div class="share-article">
        <a data-ripple="" href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a>
        <a data-ripple="" href="#" title="" class="pinterest"><i class="fa fa-pinterest-p"></i></a>
        <a data-ripple="" href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a>
        <a data-ripple="" href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a>
        <a data-ripple="" href="#" title="" class="google"><i class="fa fa-google"></i></a>
    </div>
    <div class="nav-links">
        <a href="#" title="">Home</a>
        <a href="#" title="">about</a>
        <a href="#" title="">friends</a>
        <a href="#" title="">clients</a>
        <a href="#" title="">news</a>
        <a href="#" title="">contact</a>
    </div>
    <div class="copyright-content">
        <span class="">Copyright © 2022. All Rights Reserved.</span>
        <!-- <sub>Designed by <a href="#" title="">Dewwater</a></sub> -->
    </div>
</footer><!-- footer -->